/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
    font-family: Helvetica;
}

.player {
    /*fill : url('#"static/spaceship.png"');*/
}


svg.collision {
    background: url("media/bg.jpg");
    background-size: cover;
    fill: white;
}

svg .enemy {
    background-image: url("asteroid.png");
    fill: #f8f4e6;

}

svg .playerMissile {
  fill: #e9546b;
}

svg .enemyMissile {
  fill: yellow;
}
@keyframes animatedBackground {
    from { background-position: 0 100%; }
    to { background-position: 0 0; }
}
#map {
    background-image: url(static/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    animation: animatedBackground 25s linear infinite;
}
